<div class='jumbotron'>
    <h1>Find a Player on Draftopedia</h1>
    <p>A community built by the users</p>
  
  <div>
  
  <% if user_signed_in? %>
  # something 
  
  <% else %>
        <p>
           <%= link_to "Sign up", new_user_registration_path, class:'btn btn-primary btn-lg' %>
           <%= link_to "Login", new_user_session_path, class:'btn btn-default btn-lg' %>
        </p>
  <% end %>
  
  </div>

</div>